---
swagger: '2.0'
info:
  version: ''
  title: Store Information APIs
  description: The Store Information object, and Get Store Information endpoint, manage store profile settings.
host: api.bigcommerce.com
basePath: "/stores/{store_id}/v2"
tags:
  - name: Store Info
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  "/store":
    get:
      description: Returns metadata about a store.
      summary: Get Store Information
      operationId: getStore
      tags:
        - Store Info
      responses:
        '200':
          description: ''
          schema:
            $ref: "#/definitions/StoreInformation"
  "/time":
    get:
      description: Returns the system timestamp at the time of the request. The time
        resource is useful for validating API authentication details and testing client
        connections.
      summary: Get System Timestamp
      operationId: getTime
      responses:
        '200':
          description: ''
          schema:
            $ref: "#/definitions/TimeResponse"
      tags:
        - Store Info
definitions:
  StoreInformation:
    title: Store Information
    type: object
    properties:
      id:
        description: Unique store identifier.
        example: abc123defg
        type: string
      domain:
        description: Primary domain name.
        example: your-store-url.com
        type: string
      secure_URL:
        description: Store’s current HTTPS URL.
        example: https://your-store-url.com
        type: string
      name:
        description: Store's name.
        example: BigCommerce
        type: string
      first_name:
        description: Primary contact’s first name (as defined during the store sign-up
          process).
        example: Jane
        type: string
      last_name:
        description: Primary contact’s last name (as defined during the store sign-up
          process).
        example: Doe
        type: string
      address:
        description: Display address.
        example: Acme Widgets
          123 Widget Street
          Acmeville, AC 12345
          United States of America
        type: string
      country:
        description: Country where the store is located (as defined during the store
          sign-up process).
        example: United States
        type: string
      country_code:
        description: Two character country code corresponding to country
        example: US
        type: string
      phone:
        description: Display phone number.
        type: string
      admin_email:
        description: Email address of the store administrator/owner.
        example: janedoes@email.com
        type: string
      order_email:
        description: Email address for orders and fulfillment.
        example: orders@email.com
        type: string
      favicon_url:
        description: URL to the store's favicon
        type: string
      timezone:
        $ref: "#/definitions/Timezone"
      language:
        description: Default language code, as a two-character ISO 639-1 code.
        example: en
        type: string
      currency:
        description: Default currency code
        example: USD
        type: string
      currency_symbol:
        description: Default symbol for values in the currency.
        example: "$"
        type: string
      decimal_separator:
        description: Default decimal separator for values in the currency.
        example: "."
        type: string
      thousands_separator:
        description: Default thousands separator for values in the currency.
        example: ","
        type: string
      decimal_places:
        description: Default decimal places for values in the currency.
        example: 2
        type: integer
      currency_symbol_location:
        description: Default position of the currency symbol (left or right).
        example: left
        type: string
      weight_units:
        description: Default weight units (metric or imperial).
        example: Ounces
        type: string
      dimension_units:
        description: Default dimension units (metric or imperial).
        example: Inches
        type: string
      dimension_decimal_places:
        description: The number of decimal places.
        example: 2
        type: integer
      dimension_decimal_token:
        description: The symbol that separates the whole numbers from the decimal
          points.
        example: "."
        type: string
      'dimension_thousands_token:':
        description: The symbol used to denote thousands.
        type: string
      plan_name:
        description: Name of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      plan_level:
        description: Level of the BigCommerce plan to which this store is subscribed.
        example: Standard
        type: string
      plan_is_trial:
        description: Whether the BigCommerce plan is a trial
        example: false
        type: boolean
      industry:
        description: Industry, or vertical category, in which the business operates.
          (As selected from drop-down list during the store sign-up process.)
        example: Technology
        type: string
      logo:
        $ref: "#/definitions/Logo"
      is_price_entered_with_tax:
        description: A Boolean value that indicates whether or not prices are entered
          with tax.
        example: false
        type: boolean
      features:
        $ref: "#/definitions/StoreFeatures"
  Timezone:
    title: Time Zone
    type: object
    properties:
      name:
        description: 'a string identifying the time zone, in the format: <Continent-name>/<City-name>.'
        example: America/Chicago
        type: string
      raw_offset:
        description: a negative or positive number, identifying the offset from UTC/GMT,
          in seconds, during winter/standard time.
        example: -21600
        type: integer
      dst_offset:
        description: '"-/+" offset from UTC/GMT, in seconds, during summer/daylight
          saving time.'
        example: -18000
        type: integer
      dst_correction:
        description: a boolean indicating whether this time zone observes daylight
          saving time.
        example: true
        type: boolean
      date_format:
        $ref: "#/definitions/DateFormat"
  DateFormat:
    title: Date Format
    type: object
    properties:
      display:
        description: 'string that defines dates’ display format, in the pattern: M
          jS Y'
        example: M jS Y
        type: string
      export:
        description: 'string that defines the CSV export format for orders, customers,
          and products, in the pattern: M jS Y'
        example: M jS Y
        type: string
      extended_display:
        description: 'string that defines dates’ extended-display format, in the pattern:
          M jS Y @ g:i A.'
        example: M jS Y @ g:i A
        type: string
  TimeResponse:
    title: Time response
    type: object
    properties:
      time:
        type: integer
        example: 1529512970
        description: Store Time in Unix format
  Logo:
    title: Logo
    type: object
    properties:
      url:
        type: string
        example: https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png"
  StoreFeatures:
    title: Information about a store's features
    type: object
    properties:
      stencil_enabled:
        type: boolean
        example: true
        description: Indicates whether a store is using a Stencil theme.
      sitewidehttps_enabled:
        type: boolean
        example: false
        description: Indicates if there is sitewide https.
      facebook_catalog_id:
        type: string
        description: Id of the facebook catalog. If there is none, it returns an empty string.
      checkout_type:
        type: string
        example: optimized
        description: What type of checkout is enabled on the store. Possible values
          returned are optimized, single (one page), single_customizable (one
          page for developers), klarna.
      wishlists_enabled:
        type: boolean
        example: true
        description: Indicates if wishlists are enabled
