swagger: "2.0"
info:
  title: BigCommerce API
  version: 3.0.0b
  description: A Swagger Document for the BigCommmerce v3 Order Transactions API.
  termsOfService: "http://www.bigcommerce.com/terms"
host: api.bigcommerce.com
basePath: "/stores/{store_id}/v3"
tags:
  - name: Order Transactions
    description: BigCommerce Orders API Definition.
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /orders/{order_id}/transactions:
      parameters:
        - $ref: "#/parameters/OrderIdParam"
      get:
        tags:
          - Order Transactions
        description: |
          Returns a collection of `Transaction` objects related to a BigCommerce Order.
        operationId: getTransactions
        responses:
          200:
            description: |
              An array of transactions.
            schema:
              $ref: "#/definitions/TransactionCollectionResponse"
          204:
            description: |
              No content found to fulfill request.
            schema:
              $ref: "#/definitions/NoContent"
          404:
            description: |
              The resource was not found.
            schema:
              $ref: "#/definitions/NotFound"
      post:
        tags:
          - Order Transactions
        description: |
          Creates a new `Transaction` related to a BigCommerce Order.
        operationId: createTransaction
        parameters:
          - name: transaction
            in: body
            required: true
            description: |
              A BigCommerce `Transaction` object.
            schema:
              $ref: "#/definitions/TransactionPost"
        responses:
          200:
            description: |
              Successful transaction object created call
            schema:
              $ref: "#/definitions/TransactionResponse"
          204:
            description: |
              No content found to fulfill request.
            schema:
              $ref: "#/definitions/NoContent"
          404:
            description: |
              The resource was not found.
            schema:
              $ref: "#/definitions/NotFound"
parameters:
  OrderIdParam:
      name: order_id
      in: path
      description: |
        The ID of the `Order` to which the transactions belong.
      required: true
      type: integer

definitions:
  CollectionMeta:
      type: object
      description: |
        Data about the response, including pagination and collection totals.
      properties:
        pagination:
          $ref: "#/definitions/Pagination"
  Pagination:
      type: object
      description: |
        Data about the response, including pagination and collection totals.
      properties:
        total:
          type: integer
          description: |
            Total number of items in the result set.
        count:
          type: integer
          description: |
            Total number of items in the collection response.
        per_page:
          type: integer
          description: |
            The amount of items returned in the collection per page, controlled by the limit parameter.
        current_page:
          type: integer
          description: |
            The page you are currently on within the collection.
        total_pages:
          type: integer
          description: |
            The total number of pages in the collection.
        links:
          type: object
          description: |
            Pagination links for the previous and next parts of the whole collection.
          properties:
            previous:
              type: string
              description: |
                Link to the previous page returned in the response.
            current:
              type: string
              description: |
                Link to the current page returned in the response.
            next:
              type: string
              description: |
                Link to the next page returned in the response.
  NotFound:
    description: |
      Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
  TransactionPost:
      type: object
      description: |
        Payload to create a transaction in BigCommerce.
      required:
        - event
        - amount
        - currency
        - gateway
        - method
      properties:
        event:
          type: string
          description: |
            Store event that created the transaction.
        method:
          type: string
          description: |
            The payment method: `credit_card` - a credit-card transaction; `electronic_wallet` - an online wallet; `store_credit` - a transaction using store credit; `gift_certificate` - a transaction using a gift certificate; `custom` - manual payment methods; `token` - payment token; `nonce` - temporary payment token; `offsite` - online payment off the site (e.g., PayPal); `offline` - payment method that takes place offline.
        amount:
          type: number
          format: float
          description: |
            Amount of money in the transaction.
        currency:
          type: string
          format: ISO-4217
          description: |
            Currency used for the transaction.
        gateway:
          type: string
          description: |
            The payment gateway, where applicable.
        gateway_transaction_id:
          description: |
            The transaction ID returned by the payment gateway for this transaction item.
          type: string
        date_created:
          description: |
            The datetime of the transaction.
          type: string
          format: date-time
        test:
          type: boolean
          description: |
            True if the transaction performed was a test, or if the gateway is in test mode.
        status:
          type: string
          description: |
            Status of the transaction.
        fraud_review:
          type: boolean
          description: |
            Result of gateway fraud review, if any. Default is `false`.
        reference_transaction_id:
          type: integer
          description: |
            Identifier for an existing transaction upon which this transaction acts.
        offline:
          $ref: "#/definitions/Offline"
        custom:
          $ref: "#/definitions/Custom"

  TransactionResponse:
    type: object
    description: |
      Response payload for the BigCommerce Order Transactions API single transaction.
    properties:
      data:
        $ref: "#/definitions/Transaction"
      meta:
        type: object
        description: May be used in the future
  TransactionCollectionResponse:
    type: object
    description: |
      Response payload for the BigCommerce Order Transactions API.
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/Transaction"
      meta:
        $ref: "#/definitions/CollectionMeta"

  Transaction:
    type: object
    description: |
      A BigCommerce Transaction object describes a single transaction.
    allOf:
      - $ref: "#/definitions/TransactionPost"
      - type: object
        properties:
          id:
            type: integer
            description: |
              Unique identifier for the transaction.
          order_id:
            type: string
            description: |
              Identifier for the BigCommerce Order with which this transaction is associated.
          date_created:
            description: |
              The datetime of the transaction.
            type: string
            format: date-time
          payment_instrument_token:
            type: string
            description: |
              Token for an existing stored Credit Card used for this transaction, if any.
          avs_result:
            $ref: "#/definitions/AVSResult"
          cvv_result:
            $ref: "#/definitions/CVVResult"
          credit_card:
            $ref: "#/definitions/CreditCard"
          gift_certificate:
            $ref: "#/definitions/GiftCertificate"
          store_credit:
            $ref: "#/definitions/StoreCredit"

  CreditCard:
    type: object
    description: |
      A credit-card model.
    properties:
      card_type:
        description: |
          The credit-card type: Visa, MasterCard, etc.
        type: string
      card_iin:
        description: |
          The IIN of a credit-card number.
        type: string
      card_last4:
        description: |
          The last 4 digits of a credit-card number.
        type: string

  StoreCredit:
    type: object
    description: |
      A store credit model.
    properties:
      remaining_balance:
        description: |
          Remaining balance of shopper's store credit.
        type: string

  Custom:
    type: object
    description: |
      Custom payment from manual order.
    properties:
      payment_method:
        description: |
          Text entered for the payment method in the control panel.
        type: string

  Offline:
    type: object
    description: |
      Offline payment (e.g., check or purchase order).
    properties:
      display_name:
        description: |
          Display name for the offline payment.
        type: string

  GiftCertificate:
    type: object
    description: |
      A gift-certificate model.
    properties:
      code:
        description: |
          The gift-certificate code.
        type: string
      original_balance:
        description: |
          The balance on a gift certificate when it was purchased.
        type: number
        format: float
      starting_balance:
        description: |
          The balance on a gift certificate at the time of this purchase.
        type: number
        format: float
      remaining_balance:
        description: |
          The remaining balance on a gift certificate.
        type: number
        format: float
      status:
        description: |
          The status of a gift certificate: `active` - gift certificate is active; `pending` - gift certificate purchase is pending; `disabled` - gift certificate is disabled; `expired` - gift certificate is expired.
        type: string
  AVSResult:
    description: Address Verification Service (AVS) result from the payment gateway.
    type: object
    properties:
      code:
        description: AVS code.
        type: string
      message:
        description: AVS message.
        type: string
      street_match:
        description: AVS Code for street matching result.
        type: string
      postal_match:
        description: AVS Code for postal matching result.
        type: string

  CVVResult:
    description: Card Verification Value result from the payment gateway.
    type: object
    properties:
      code:
        description: CVV code.
        type: string
      message:
        description: CVV message.
        type: string

  NoContent:
    description: |
      No-content response for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          204 HTTP status code.
        type: integer
      title:
        description: The error title describing the situation.
        type: string
      type:
        type: string
      instance:
        type: string
